#about {
  overflow: hidden;
  background-image:url(/assets/portfolio/shadow.png); background-position: bottom center; background-repeat: no-repeat;
  padding-bottom: 100px;

  h1 {
    font-size:26px;
  }

  #left {
    overflow: hidden;
    width:260px;
    float:left;

    img {
      display: block;
      width:260px;
    }

    #photo_border {
      background-color: #FFF;
      border:1px solid #CCC;
      padding:4px;

      img {
        display:block;
        width:250px;
      }
    }
  }

  #right {
    margin-left:300px;

    #tylers_links {
      overflow: hidden;

      a {
        display: block; float:left;
        width:70px; height:70px;
        margin-right:5px;

        img {
          display:block;
          width:100%;
        }

        &:hover {
          img {
            border-radius:50px;
            box-shadow:inset 0px 0px 5px 1px black;
          }
        }
      }
    }
  }
}