<div id="about">

  <div id="left">
    <div id="photo_border">
      <img src="/assets/about/tyler_350.png" alt="Tyler Brown" />
    </div>
    <img src="/assets/layout/shadow.png" alt="" />
  </div>

  <div id="right">
    <h1>Hi, I'm Tyler</h1>
    <ul id="tyler_facts">
      <li>Software engineer in love with with Ruby on Rails, jQuery, and iOS.</li>
      <li>Loves the excitement and potential that comes with working at a startup.</li>
      <li>Never goes more than a month without a microcontroller/electronics side project.</li>
      <li>Recently bought a Canon SLR and is fascinated by exposure, lenses, and lighting.</li>
      <li>Addicted to caffeine and is always in pursuit of that perfect cup of coffee.</li>
    </ul>
    <p>Email: <a href="mailto:tyler@tmatthew.net">tyler@tmatthew.net</a></p>
    <p>Skype: tybro0103</p>
    <p>Find me on:</p>
    <div id="tylers_links">
      <a href="http://www.facebook.com/tylermatthewbrown" class="tylers_link" target="_blank" title="Tyler's Facebook"><img src="/assets/about/icon_fb.png" alt="Tyler's Facebook" /></a>
      <a href="http://twitter.com/#!/tybro0103" class="tylers_link" target="_blank" title="Tyler's Twitter"><img src="/assets/about/icon_tw.png" alt="Tyler's Twitter" /></a>
      <a href="http://stackoverflow.com/users/202875/tybro0103#qpage_1-anpage_1-qsort_votes-ansort_votes" class="tylers_link" target="_blank" title="Tyler's Stack Overflow"><img src="/assets/about/icon_so.png" alt="Tyler's Stack Overflow" /></a>
      <a href="https://github.com/tybro0103" class="tylers_link" target="_blank" title="Tyler's Github Profile"><img src="/assets/about/icon_gh.png" alt="Tyler's Github" /></a>
      <a href="http://www.linkedin.com/pub/tyler-brown/17/672/33" class="tylers_link" target="_blank" title="Tyler's Linked In"><img src="/assets/about/icon_li.png" alt="Tyler's Linked In" /></a>
      <a href="https://profiles.google.com/TMB0103/about" class="tylers_link" target="_blank" title="Tyler's Google Plus"><img src="/assets/about/icon_gp.png" alt="Tyler's Google Profile" /></a>
    </div>
  </div>

</div>