<style>
  #con {
    width:400px; height:344px;
    -webkit-perspective:600px;
  }
  #monitor {
    width:400px; height:344px;
    background-image: url(/assets/layout/test.png);
    -webkit-transition: all 1s ease-in-out;
    -webkit-transform: rotateY(40deg);
  } #monitor:hover {
    -webkit-transform: rotateY(-40deg);
  }
</style>

<div id="con">
  <div id="monitor"></div>
</div>